:root {
  --primary-color: rgb(27, 63, 64);
  --secondary-color: rgb(251,239, 225);
  --tertiary-color: rgb(223, 223, 221);
  /* --font: (Inter-Medium);
  --font-bold:(Inter-ExtraBold); */
}

/* @font-face {
     font-family: "inter";
     src: url("../assets/Inter/static/Inter-ExtraBold.ttf");
     src: url("../assets/Inter/static/Inter-Bold.ttf");
     src: url("../assets/Inter/static/Inter-Medium.ttf");
   } */

   .clear {
	clear: both;
}

/******************************************
/* BASE/LAYOUT STYLES
/*******************************************/

html,
body {
  width: 100%;
  height: 100%;
}

/* body {
  font-family: 'Iner';
} */

a {
  color: var(--tertiary-color);
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

h2{
     display: flex;
     justify-content: center;
     color: var(--primary-color);
     margin: 20px 0 82px 0;
     font-size: 62px;
}

h3{
     color: var(--secondary-color);
}

h4{
     display: flex;
     justify-content: center;
     color: var(--primary-color);
     margin: 102px 0 0 0;
     font-size: 18px;
}
span{
     color: var(--secondary-color);
     display: flex;
     justify-content: center;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}


/******************************************
/* NAV STYLES
/*******************************************/

.navbar{

}
#mainNav {
  border-color:var(--primary-color);
  background-color:var(--primary-color);
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
} 

#mainNav .navbar-brand {
  color: var(--secondary-color);
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: var(--tertiary-color);
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: var(--secondary-color);
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: var(--secondary-color) !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: var(--secondary-color);
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: var(--tertiary-color);
}

#mainNav .container-fluid{
     margin-left: 122px;
     margin-right: 122px;
}

/******************************************
/* HERO STYLES
/*******************************************/


.jumbotron{
     background-color: var(--primary-color);
     height: 100vh;

}

.display-4{
     color: var(--secondary-color);
     margin: 20px
}

.jumbotron > .container{
     margin: 240px 508px 417px 122px;
}

.btn-outline-light{
     color: var(--secondary-color);
     margin: 80px 20px 20px 20px;
}


/******************************************
/* PORTFOLIO + ABOUT ME STYLES
/*******************************************/

#portfolio-grid{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     grid-template-rows: 500px 500px 260px 500px;
     gap: 20px;
     margin-left: 100px;
     margin-right: 100px;
     grid-template-areas: 
     "p1 p1 p2 p2 p2"
     "p3 p3 p3 p4 p4"
     "am am am am am"
     "pi pi pt pt pt";
     object-fit: cover;
     
   }


#project1{
     grid-area: p1;
     background-color: var(--primary-color);
     background-image: url(../assets/images/6e074cd3-35d4-4a1a-b028-1c1aabd21e29_rw_1200.png);
}

#project2{
     grid-area: p2;
     background-color: var(--primary-color);
     background-image: url(../assets/images/52b56f9b-c0b4-484f-bb72-4f5b2e44f876_rw_1920.jpg);
}

#project3{
     grid-area: p3;
     background-color: var(--primary-color);
     background-image: url(../assets/images/eead730c-8371-4b24-bc49-fe2b376f3274_rw_1920.png);

}

#project4{
     grid-area: p4;
     background-color: var(--primary-color);
     background-image: url(../assets/images/73fa1c3f-64ba-4a91-9bbb-7c81c3bf2f5d_rw_1920.png);
}

#about-me{
     grid-area: am;
}

#profile-image{
     grid-area: pi;
     background-image: url(../assets/images/About\ Me\ Image.png);


}

#profile-text{
     grid-area: pt;
}


#about-me > h2{
     margin-top: 120px;
}



/* code below shows project grid styling  */

#project1, #project2, #project3, #project4{
     position: relative;
     width: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     text-decoration: none;
   }
   
   .project-text{
     width: fit-content;
     padding: 10px;
     margin-bottom: 30px;
     z-index: 2;
   }
   
   .style{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
     transition: all ease-in-out;
   }
   
   
   /* how to add a hover, tint and grow to the images in portfolio grid. */
   
   
   .overtint {
     position:absolute;
     background-color: rgba(1, 16, 17, 0.9);
     width:100%; 
     height:100%;
   }
   
   #project1> .overtint + div{
     z-index: 2;
   }
   
   a:hover .overtint { 
     opacity: 0;
     transition-duration: .5s;
   }
   
   
   #workGrid a:hover{
     transform: scale(1.01);
   }
   



/******************************************
/* CONTACT ME STYLES
/*******************************************/


#contact-me{
     margin-top: 150px;
     background-color: var(--primary-color);
}

#contact-me h2{
     color: var(--secondary-color);
     padding-top: 150px;
}


#contact-me > p{
     display: flex;
     justify-content: center;
     color: var(--secondary-color);
}


#contact-info{
     grid-area: contact-info;
     width: 100%;
     padding-bottom: 60px;
     margin: auto;
   }
   
   #contact-info ul{
     display: flex;
     justify-content: space-around;
     list-style: none;
     padding: 0;
     color: var(--secondary-color);
   }
   
   #contact-info > ul> li> a {
     color: var(--secondary-color);
     text-decoration: underline;
     text-underline-offset:8px;
     font-weight: bold;
   }
















