/******************************************
/* BASE/LAYOUT STYLES
/*******************************************/

*{
     box-sizing: border-box;
   }
   
   /* Having searched the internet to remedy an issue where the body element was not full height this was how I was shown to resolve the issue. It was noted to be a slight problem with some things relating to Bootstrap. (Will need to review at a later date to see where the issue comes from) */
   body {
     height: 100%;
     width: 100%;
     position: absolute;
   }
   
   /******************************************
   /* FONT STYLES
   /*******************************************/
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
        font-family: 'Inter', sans-serif;
        font-weight: 200;
        letter-spacing: 1px;
        margin: 0;
   }
   
   h1{
     font-size: 70px;
     font-weight:bold;
   }
   
   h2{
     font-size: 50px;
     font-weight: 500;
   }
   
   h3{
     font-size: 35px;
   }
   h4{
     padding-bottom: 30px;
   }
   p, li{
     font-family: 'Inter', sans-serif;
   }
   
   
   /******************************************
/* LINK/BUTTON STYLES
/*******************************************/

/* Styling of buttons with box shadow on a dark background (Within work cards) */
#myWork button {
     background: none;
     border: 1px solid;
     font: inherit;
     line-height: 1.5;
     margin: 5px;
     padding: 5px;
     color: white;
     width: 90px;
   }
   
   #myWork .fill:hover,
   #myWork .fill:focus {
     box-shadow: inset 6.5em 0 0 0 black;
     border: 1px solid black;
   }
   
   /* Styling of buttons with box shadow on a light background (Within Socials Card) */
   button {
     background: none;
     border: 1px solid;
     font: inherit;
     line-height: 1.5;
     margin: 5px;
     padding: 5px;
     color: black;
     width: 90px;
   }
   
   .fill:hover,
   .fill:focus {
     box-shadow: inset 6.5em 0 0 0 lightgray;
     border: 1px solid lightgray;
   }
   
/******************************************
/* OTHER STYLES
/*******************************************/

/* This was used in combination with a div in the jumbotron to prevent any overspill from the image when the viewport width would skrink. The div is the element now distributed with flex and image fills only that distributed space */
img{
     height: 100%;
     width: 100%;
     object-fit: cover
 }